@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
a{
    color: #918f8f;
    font-size: 16px;
}
a:hover{
    color: #001c58;
}
body{
    margin: 0;
    padding: 0;
    font-family:"WenQuanYi Zen Hei","文泉驛正黑","Heiti TC","黑體-繁","LiHei Pro","儷黑 Pro","Droid Sans,Microsoft JhengHei","微軟正黑體";
    font-size: 14px;
    background: 
        url(../img/bg.png);
    background-repeat:
        no-repeat;
    background-position: center;
    background-size:cover;
}
.header, .footer, .header_nav {
    display: block;
}
/*wrap*/
.wrap{
    margin: 0 auto;
    width: 1257px;
    min-height: 100vh;
    height: 100%;
    padding: 0;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
}


/*header*/
.header{
    position: static;
    display: block;
    height: 290px;/*260*/
    background-image:url(../img/header_bg.png);
    background-repeat:no-repeat;
    background-position: top center;    
    overflow:visible;/**/
    width: 100%;
    bottom: 0;
    
}
.header_nav{
    height: 60px;
    width: 880px;
    z-index: 10;
    position: relative;
    padding-top: 182px;
    margin-left: 377px;
}
.header_nav>ul{
    padding: 0;
    margin: 0;
}
.header_nav>ul>li{
    list-style: none;
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;   
    
}
.header_nav>ul>li>button{
    width: 160px;
    height: 60px;
}
/*btn*/
.header_1{
    background-image: url(../img/banner_01.png);
    background: url(../img/banner_01.png);
    border: none;
    background-size: contain;
    background-repeat:no-repeat;
}
.header_1:hover{
    background-image: url(../img/banner_01_h.png);
    background: url(../img/banner_01_h.png);
    border: none;
    background-size: contain;
    background-repeat:no-repeat;
}

.header_2{
    background-image: url(../img/banner_02.png);
    background: url(../img/banner_02.png);
    border: none;
    background-size: contain;
    background-repeat:no-repeat;
}
.header_2:hover{
    background-image: url(../img/banner_02_h.png);
    background: url(../img/banner_02_h.png);
    border: none;
    background-size: contain;
    background-repeat:no-repeat;
}

.header_3{
    background-image: url(../img/banner_03.png);
    background: url(../img/banner_03.png);
    border: none;
    background-size: contain;
    background-repeat:no-repeat;
}
.header_3:hover{
    background-image: url(../img/banner_03_h.png);
    background: url(../img/banner_03_h.png);
    border: none;
    background-size: contain;
    background-repeat:no-repeat;
}

.header_4{
    background-image: url(../img/banner_04.png);
    background: url(../img/banner_04.png);
    border: none;
    background-size: contain;
    background-repeat:no-repeat;
}
.header_4:hover{
    background-image: url(../img/banner_04_h.png);
    background: url(../img/banner_04_h.png);
    border: none;
    background-size: contain;
    background-repeat:no-repeat;
}
.header_5{
    background-image: url(../img/banner_05.png);
    background: url(../img/banner_05.png);
    border: none;
    background-size: contain;
    background-repeat:no-repeat;
}
.header_5:hover{
    background-image: url(../img/banner_05_h.png);
    background: url(../img/banner_05_h.png);
    border: none;
    background-size: contain;
    background-repeat:no-repeat;
}

/*麵包屑*/
.breadcrumb{
    height: 30px;
    padding-top: 10px;
    margin-left: 377px;
    position: relative;
}

/*main*/
.main{
}
.main-search{
    background-image: url(../img/main_bg.png);
    background-repeat:no-repeat;
    background-position: top center;
    background-size:cover;
    width: 1257px;
    height: 462px;
}

/*content*/

.form_1{
    padding-top:146px; 
    margin-left: 446px;
    width: 415px;
    display: -webkit-inline-box;
    display: inline-block;
}

.form_2{
    padding-top:154px;
    width:570px;
    display: inline-block;
    position: absolute;
}
.form_3{
    padding-top: 116px;
    margin-left: 460px;
    display: inline-block;
    position: absolute;
    width: 325px;
    height: 57px;
}

.input{
    border:1px solid  #092453;
    border-radius: 4px;
    line-height: 48px;
    height:48px;
    width: 404px;
    
    
}
.form_2 > input{
}
.search_btn{
    background: url(../img/btn_01.png);
    width: 79px;
    height: 35px;
    border: none;
}
.search_btn:hover{
    background: url(../img/btn_01_h.png);
    width: 79px;
    height: 35px;
    border: none;
}
.searchmore_btn{
    background-image:  url(../img/btn_02.png);
    background: url(../img/btn_02.png);
    width: 101px;
    height: 35px;
    margin-top:2%;  
    border: none;
}
.searchmore_btn:hover{
    background-image: url(../img/btn_02_h.png);
    background: url(../img/btn_02_h.png);
    width: 101px;
    height: 35px;
    margin-top:2%; 
    border: none;
}
.input-checkbox{
    margin-top: 1.5em;
}
/*index_content*/
.index_content{
    display: block;
    margin: 0 auto;
    position: relative;
    height: 296px;
    width: 1257px;
    background: url(../img/content_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 2em;
}
.index_content_inputtext{
    position: relative;
    border:none;
    border-radius:none;
    line-height: 57px;
    font-size:36px;
    width: 325px;
    height: 57px;
    display: inline-block;
    background: url(../img/content_bg_b2.png);
    font-weight:bold;
    background-repeat: no-repeat;
    background-size: contain;
}

/*footer*/
.footer{
    /*position: absolute;absolute時，使用父容器的相對位置去定位，.wrap是static=預設，會使用它被定義後的高度*/
    background: #092453;
    height: 72px;
    width: 100%;
    bottom: 0;
    padding: 0.4em;
    border: solid none 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.footer>p{
    vertical-align: middle;
    color: #fff;
    font-size: 12px;
    line-height: 6px;
    text-align: center;
}

/*元件*/
.text_content{
    position: relative;
    /* padding: 8vh 10vw; */
    padding: 3vh 2vw;
}

.text_title{
    color: #070b5a;
    font-size: 16px;
    line-height: 1.8em;
    margin-top: 2em;
}
.text{
    color: #918f8f;
    font-size: 16px;
    line-height: 1.8em;
}
.middle{
    text-align:center;
    vertical-align: middle;
}
*[class~="middle"]{
    text-align:center;
    vertical-align: middle;
}

.page_control{
    padding-left: 10vw;
}
.page_control>ul{
    
    
}
.page_control>ul>li{
    
    list-style: none;
    float: left;
    margin-left: 1vw;
}
.page_numember_inputtext{
    height: 26px;
    padding: 0;
    text-align: center;
}
.page_numember_select{
    height: 30px;
    width: 60px;
}

.tabs_wrapper{
    /** font-family: "DFKai-sb","標楷體"; **/
    padding: 8vh 10vw;
    
}
.tabs{
    display: block;
    position:relative;
    width:100%;      
    min-height:200px;
    height:auto;
    z-index: 1;
}    
.tab{
    /*float:left;*/
    display: inline-block;
}    
.tab > input[type=radio]{ 
    display:none;  
}    
.tab > label{      
    display:block;      
    position:relative;      
    /*min-width:40px;      
    height:20px;      
    margin-right:-1px;      
    padding:5px 15px;      
    background:#DDD;      
    border:1px solid #AAA; */
    margin-left: 18px;
    
}    
.tab > .tabs_content{      
    display:none; 
    position:absolute;      
    top:30px;      
    right:0;      
    bottom:0;      
    left:0;      
    z-index:1;      
    padding:30px;      
    background:rgba(0,0,0,0);      
      
}    
.tab > input[type=radio]:checked + label{      
    /*background:#FFF;
    border-bottom:1px solid transparent;  */
    z-index:2;
}
 
.tab > input[type=radio]:checked ~ .tabs_content{      
    display:block;
}
.tabs_start{
    position: relative;
    top: 34px;
    width: 100%;
    height: 10px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 20%, rgba(0,0,0,0.12) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 20%,rgba(0,0,0,0.12) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 20%,rgba(0,0,0,0.12) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1f000000',GradientType=0 ); /* IE6-9 */
}
.tabs_end{
    width: 100%;
    height: 10px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.12) 0%, rgba(255,255,255,0) 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.12) 0%,rgba(255,255,255,0) 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.12) 0%,rgba(255,255,255,0) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

/*特殊物件*/
/*btn*/
.gofirst{
    background-image: url(../img/btn_gofirst.png);
    background: url(../img/btn_gofirst.png);
    width: 12px;
    height: 15px;
    border: none;
    background-size: contain;
}
.gofirst:hover{
    background-image: url(../img/btn_gofirst_h.png);
    background: url(../img/btn_gofirst_h.png);
    width: 12px;
    height: 15px;
    border: none;
    background-size: contain;
}

.goback{
    background-image: url(../img/btn_goback.png);
    background: url(../img/btn_goback.png);
    width: 12px;
    height: 15px;
    border: none;
    background-size: contain;
}
.goback:hover{
    background-image: url(../img/btn_goback_h.png);
    background: url(../img/btn_goback_h.png);
    width: 12px;
    height: 15px;
    border: none;
    background-size: contain;
}

.gonext{
    background-image: url(../img/btn_gonext.png);
    background: url(../img/btn_gonext.png);
    width: 12px;
    height: 15px;
    border: none;
    background-size: contain;
}
.gonext:hover{
    background-image: url(../img/btn_gonext_h.png);
    background: url(../img/btn_gonext_h.png);
    width: 12px;
    height: 15px;
    border: none;
    background-size: contain;
}
.golast{
    background-image: url(../img/btn_golast.png);
    background: url(../img/btn_golast.png);
    width: 12px;
    height: 15px;
    border: none;
    background-size: contain;
}
.golast:hover{
    background-image: url(../img/btn_golast_h.png);
    background: url(../img/btn_golast_h.png);
    width: 12px;
    height: 15px;
    border: none;
    background-size: contain;
}
.skipto{
    background-image: url(../img/btn_skipto.png);
    background: url(../img/btn_skipto.png);
    width: 68px;
    height: 30px;
    border: none;
    background-size: contain;
}
.skipto:hover{
    background-image: url(../img/btn_skipto_h.png);
    background: url(../img/btn_skipto_h.png);
    width: 68px;
    height: 30px;
    border: none;
    background-size: contain;
}

.page_numember{
    color: #000000;
    border: 1px solid #959595;
    background: #ffffff;
    width: 18px;
    height: 21px;
    text-align: center;
}
.page_numember:hover{
    color: #000000;
    border: 1px solid #333;
    background: #d9d9d9;
    width: 18px;
    height: 21px;
    text-align: center;
}
.page_numember_sel{
    color: #e60012;
    border: 1px solid #959595;
    width: 18px;
    height: 21px;
    text-align: center;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 11%, rgba(187,204,233,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 11%,rgba(187,204,233,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 11%,rgba(187,204,233,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bbcce9',GradientType=0 ); /* IE6-9 */
}
.page_numember_sel:hover{
    color: #333;
    border: 1px solid #959595;
    width: 18px;
    height: 21px;
    text-align: center;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 11%, rgba(136,148,168,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 11%,rgba(136,148,168,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 11%,rgba(136,148,168,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8894a8',GradientType=0 ); /* IE6-9 */

}


.mailto{
    background-image: url(../img/mailto.png);
    background: url(../img/mailto.png);
    width: 21px;
    height: 16px;
    border: none;
    background-size: contain;
}
.mailto:hover{
    background-image: url(../img/mailto.png);
    background: url(../img/mailto_h.png);
    width: 21px;
    height: 16px;
    border: none;
    background-size: contain;
}

.howtosayinhaka{
    /* font-family: "DFKai-sb","標楷體"; */
    font-size: 2em;
    height: 34px;
    width: 38%;/*for IE*/
    width: 16vw;
    margin: 12.6% auto auto 31.2%;/*for IE*/
    margin:12.6vh auto auto 31.2vw;
    border: none;
    background: rgba(0,0,0,0);
}
.tab > input[type=radio]:checked + label{
    font-size:20px;
	font-weight:normal;
	-webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
	border:1px solid #959595;
	padding: 4px 12px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #3b73a4 5%, #5f84a4 100% );
	background:-ms-linear-gradient( top, #3b73a4 5%, #5f84a4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b73a4', endColorstr='#5f84a4');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #3b73a4), color-stop(100%, #5f84a4) );
	background-color:#3b73a4;
	color:#ffffff;
	display:inline-block;
    }
.tab > label{
	font-size:20px;
	font-weight:normal;
	-webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
	border:1px solid #959595;
	padding:4px 12px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #fefffe 5%, #d1cecc 100% );
	background:-ms-linear-gradient( top, #fefffe 5%, #d1cecc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefffe', endColorstr='#d1cecc');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fefffe), color-stop(100%, #d1cecc) );
	background-color:#fefffe;
	color:#3b73a4;
	display:inline-block;
} 

.table_colortop{
    border: none;
    font-size: 18px;
    text-align: center;
}

.cell_colortop{
    padding: 8px 4px;
    color: #fff;
    background: rgb(126,206,244); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(126,206,244,1) 0%, rgba(22,89,135,1) 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(126,206,244,1) 0%,rgba(22,89,135,1) 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(126,206,244,1) 0%,rgba(22,89,135,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ecef4', endColorstr='#165987',GradientType=0 ); /* IE6-9 */
}


ul,li{
    display: inline-block;
}

.cell_sort{
    color: #001c58;
    display: inline-block;
    margin-left: 1em;
    /* margin-top: 1em; */
    margin-top: 5px;
    width: 10em;
    height: 1.6em;
    border: 1px solid #3c7dad;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(222,216,212,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(222,216,212,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(222,216,212,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ded8d4',GradientType=0 ); /* IE6-9 */
}

.cell_sort_selected{
    color: #000000;
    display: inline-block;
    margin-left: 1em;
    /* margin-top: 1em; */
    margin-top: 5px;
    width: 10em;
    height: 1.6em;
    border: 1px solid #3c7dad;
    background: rgb(126,206,244); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(126,206,244,1) 0%, rgba(22,89,135,1) 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(126,206,244,1) 0%,rgba(22,89,135,1) 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(126,206,244,1) 0%,rgba(22,89,135,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ecef4', endColorstr='#165987',GradientType=0 ); /* IE6-9 */
}

.cell_sort_selected>a{
    font-size: 1em;
    color: #FFFFFF;
    cursor: pointer;
}


.cell_sort:hover{
    color: #f5f7fb;
    display: inline-block;
    margin-left: 1em;
    /* margin-top: 1em; */
    margin-top: 5px;
    width: 10em;
    height: 1.6em;
    border: 1px solid #3c7dad;
    background: rgb(126,206,244); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(126,206,244,1) 0%, rgba(22,89,135,1) 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(126,206,244,1) 0%,rgba(22,89,135,1) 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(126,206,244,1) 0%,rgba(22,89,135,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ecef4', endColorstr='#165987',GradientType=0 ); /* IE6-9 */
}

.cell_sort>a{
    font-size: 1em;
    color: #001c58;
    cursor: pointer;
}

.cell_sort:hover>a{
    color: #f5f7fb;
    cursor: pointer;
}

/*特殊物件landing page*/
.wrap_landing{
    min-height: 100%;
    position: relative;
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;
    
    padding: 0;
    overflow:visible;

    background: -moz-linear-gradient(top,  rgba(0,18,94,1) 0%, rgba(255,255,255,0) 40%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,18,94,1) 0%,rgba(255,255,255,0) 40%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,18,94,1) 0%,rgba(255,255,255,0) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00125e', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */


}
.comein{
    background: url(../img/btn_comein.png);
    width: 167px;
    height: 32px;
}
.comein:hover{
    background: url(../img/btn_comein_h.png);
    width: 167px;
    height: 32px;
}
.footer_landing{
    position: relative;
    background: rgba(0,0,0,0);
    height: 81px;
    height: 15vh;
    width: 100%;
    bottom: 0;
    
}
.footer_landing>p{
    vertical-align: middle;
    color: #092453;
    font-size: 12px;
    line-height: 6px;
    text-align: center;
}



/*0509新增*/

/*中螢幕設備(小桌面，1024px與以下)*/
@media (max-width: 1100px) {

    .index_box_A{
        display: inline-block;
        margin: 0;
        margin-left: 9vw;
    }
}



/*#popUpDiv_announcement {
    position: absolute;
    background-color: #FFFFFF;
    width: 60vw;
    height: 60vh;
    border: 5px solid #000;
    z-index: 9002;
    margin: 0 9vw;
    margin-top: -16vh;
}*/